.header__wrap {
    background: linear-gradient(to bottom right, #fb923c, #f472b6);
    padding: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #fff7ed;
}
