.wrap {
  box-sizing: border-box;
  background-color: var(--color-gray-50);
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.dark .wrap {
  background-color: var(--app-bg);
}

.content__wrap {
  width: 100%;
  padding: 1rem var(--spacing-lg) var(--content-bottom-padding);
  box-sizing: border-box;  
}

.home-term-wrap {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}