.wrapper {
  background: var(--app-header-gradient);
  padding: 1.5rem;
  border-radius: 0 0 1.5rem 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--app-accent-bg);
  font-size: 0.875rem;
}
